<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <nav class="navbar navbar-default navbar-bottom">
      <a href="#" class="pull-left"><img src="assets/NHPlogo.png"></a>
      <div class="pull-right">  
          <ul class="nav navbar-nav">
            <li><a href="#">Logout</a></li>
          </ul>
      </div>
  </nav>
<table>
    <tr>
        <td class="alignment-left">
            <div><button class="btn btn-info" (click)="LoadClaimData()" >Get Claim Data</button></div>
            <div id="claimDataTable" class="table-responsive" style="padding-top: 5px; height: 500px;">
                <angular-ClaimDatagrid></angular-ClaimDatagrid>
              </div>
              <div class="col-lg-8 col-md-4">
                  <div style="display:inline-block;" class="pull-right">
                    <ul class="pagination" style="margin: 5px 0; display:none">
                      <li>
                        <a>First</a>
                      </li>
                      <li>
                        <a>Previous</a>
                      </li>
                      <li class="pg-number-control">
                        <a>
                          <select>
                            <option>1</option>
                          </select>
                        </a>
                      </li>
                      <li>
                        <a>Next</a>
                      </li>
                      <li>
                        <a>Last</a>
                      </li>
                    </ul>
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="margin: 5px 0;">
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setClaimPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setClaimPage(pager.currentPage - 1)"><< Previous</a>
                      </li>
                      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setClaimPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setClaimPage(pager.currentPage + 1)">Next >></a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setClaimPage(pager.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
        </td>
        <td class="alignment-right" > 
            <div><button class="btn btn-info" (click)="LoadClinicalData()">Get Clinical Data</button></div>
            <div id="clinicDataTable" class="table-responsive" style="padding-top: 5px; height: 500px;">
              <angular-ClinicDataGrid></angular-ClinicDataGrid>
              </div>
              <div class="col-lg-8 col-md-4">
                  <div style="display:inline-block;" class="pull-right">
                    <ul class="pagination" style="margin: 5px 0; display:none">
                      <li>
                        <a>First</a>
                      </li>
                      <li>
                        <a>Previous</a>
                      </li>
                      <li class="pg-number-control">
                        <a>
                          <select>
                            <option>1</option>
                          </select>
                        </a>
                      </li>
                      <li>
                        <a>Next</a>
                      </li>
                      <li>
                        <a>Last</a>
                      </li>
                    </ul>
                    <ul *ngIf="pager2.pages && pager2.pages.length" class="pagination" style="margin: 5px 0;">
                      <li [ngClass]="{disabled:pager2.currentPage === 1}">
                        <a (click)="setClinicPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:pager2.currentPage === 1}">
                        <a (click)="setClinicPage(pager2.currentPage - 1)"><< Previous</a>
                      </li>
                      <li *ngFor="let page of pager2.pages" [ngClass]="{active:pager2.currentPage === page}">
                        <a (click)="setClinicPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pager2.currentPage === pager2.totalPages}">
                        <a (click)="setClinicPage(pager2.currentPage + 1)">Next >></a>
                      </li>
                      <li [ngClass]="{disabled:pager2.currentPage === pager2.totalPages}">
                        <a (click)="setClinicPage(pager2.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
                </div>
        </td>            
     </tr>
     <tr>
        <th colspan="2" >
            <div class="divNext">
                <div> 
                <button class="btn btn-info" (click)="onNext()"> Combine Claims & Clinical Data >>
                  </button>
                </div>                  
            </div>
        </th>
     </tr>
</table>


  
    