.split {
    height: 80%;
    width: 50%;
    position: fixed;
    
    top: 0;
    /* overflow-x: hidden; */
    padding-top: 20px;
    padding-left: 5px;
}

.alignment {
    padding-left: 5px; 
    width: 40%;
    padding-top: 5px; 
    vertical-align: top;
}

.divNext {
    text-align:right; 
    padding-right: 10px;
}