
.alignment-left {
    padding-left: 5px; 
    width: 50%;
    padding-top: 5px; 
    vertical-align: top;
}
.alignment-right {
    padding-left: 5px; 
    padding-right: 5px;
    width: 30%;
    padding-top: 5px; 
    vertical-align: top;
}

.divNext {
    text-align:right; 
    padding-right: 10px;
}