<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head> 
    <nav class="navbar navbar-default navbar-bottom">
        <div><a href="#" class="pull-left"><img src="assets/NHPlogo.png"></a></div>  
        <div style="float: right;">  
            <ul class="nav navbar-nav">
              <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>

<div id="claimClinicData" class="table-responsive" style="padding: 10px;height: 500px;">
    <angular-clinicClaimGrid></angular-clinicClaimGrid>
  </div>
  <div class="col-lg-8 col-md-4">
      <div style="display:inline-block;" class="pull-right">
        <ul class="pagination" style="margin: 5px 0; display:none">
          <li>
            <a>First</a>
          </li>
          <li>
            <a>Previous</a>
          </li>
          <li class="pg-number-control">
            <a>
              <select>
                <option>1</option>
              </select>
            </a>
          </li>
          <li>
            <a>Next</a>
          </li>
          <li>
            <a>Last</a>
          </li>
        </ul>
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="margin: 5px 0;">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)"><< Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next >></a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
    </div>
  <div style="float: right"> 
      <button  *ngIf="calculatedRisk" class="btn btn-info" style="text-align: left" (click)="calculatRisk()"><i class="far fa-calculator"></i> Calculate Risk Score</button>      
      <div *ngIf="calculatedRisk"><label style="font-weight:normal">Risk score is calculated as per HCC coding</label></div>
      <button  *ngIf="!calculatedRisk" class="btn btn-info" style="text-align: right; float: right;"><i class="fa fa-download"></i> Export patient risk score to HL7</button>
  </div>
  